<div class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white rounded-xl shadow-lg w-full max-w-lg p-6 space-y-6">
  
      <h2 class="text-2xl font-bold mb-8 text-blue-900 text-center">Update Movie</h2>
  
      <form [formGroup]="updateMovieForm" (ngSubmit)="updateMovie()" class="space-y-4">
        <div *ngIf="inlineNotification.show" class="text-red-600 mt-4 text-center">
          {{ inlineNotification.text }}
        </div>
  
        <div class="flex flex-col space-y-1">
          <label for="title" class="block text-gray-700">Title</label>
          <input type="text" id="title" formControlName="title" required
                 class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300">
          <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-red-600 mt-2">
            <div *ngIf="title.errors?.['required']">Movie Title is required!</div>
          </div>
        </div>
  
        <div class="flex flex-col space-y-1">
          <label for="director" class="block text-gray-700">Director</label>
          <input type="text" id="director" formControlName="director" required
                 class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300">
          <div *ngIf="director.invalid && (director.dirty || director.touched)" class="text-red-600 mt-2">
            <div *ngIf="director.errors?.['required']">Movie director is required!</div>
          </div>
        </div>
  
        <div class="flex flex-col space-y-1">
          <label for="studio" class="block text-gray-700">Studio</label>
          <input type="text" id="studio" formControlName="studio" required
                 class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300">
          <div *ngIf="studio.invalid && (studio.dirty || studio.touched)" class="text-red-600 mt-2">
            <div *ngIf="studio.errors?.['required']">Movie studio is required.</div>
          </div>
        </div>
  
        <div class="flex flex-col space-y-1">
          <label for="movieCast" class="block text-gray-700">Movie Cast</label>
          <input type="text" id="movieCast" formControlName="movieCast" required
                 class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
                 placeholder="Enter movie cast comma separated">
          <div *ngIf="movieCast.invalid && (movieCast.dirty || movieCast.touched)" class="text-red-600 mt-2">
            <div *ngIf="movieCast.errors?.['required']">Movie Cast is required!</div>
          </div>
        </div>
  
        <div class="flex flex-col space-y-1">
          <label for="releaseYear" class="block text-gray-700">Release Year</label>
          <input type="text" id="releaseYear" formControlName="releaseYear" required
                 class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
                 placeholder="">
          <div *ngIf="releaseYear.invalid && (releaseYear.dirty || releaseYear.touched)" class="text-red-600 mt-2">
            <div *ngIf="releaseYear.errors?.['required']">Release Year is required!</div>
          </div>
        </div>
  
        <div class="flex flex-col space-y-1">
          <label for="file" class="text-gray-700 font-medium">Poster</label>
          <input
            type="file"
            id="file"
            formControlName="poster"
            (change)="onFileSelected($event)"
            class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>
  
        <div class="flex justify-between items-center space-x-4">
          <button type="submit" class="w-1/2 bg-blue-700 text-white py-2 rounded hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500">
            Update Movie
          </button>
          <button type="button" (click)="cancel()" class="w-1/2 bg-gray-500 text-white py-2 rounded hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-400">
            Cancel
          </button>
        </div>
  
      </form>
    </div>
  </div>
  